.about {
  width: 100%;
  margin: 0 auto;
  padding: 150px 0 152px;

  @media (max-width: $tablet-width) {
    padding: 11px 0 70px;
  }

  @media (max-width: $mobile-width) {
    padding: 39px 0 82px;
  }
}

.about__title {
  max-width: 560px;
  margin: 0 auto 50px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $color-special-black;

  @media (max-width: $tablet-width) {
    margin: 0 auto 35px;

    font-size: 24px;
  }
}

.about__list {
  display: grid;
  width: 1226px;
  margin: 0 auto;
  padding: 0 30px;

  list-style: none;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: $color-black;
  letter-spacing: -0.5px;

  grid-column-gap: 37px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: $tablet-width) {
    width: 600px;
    margin: 0 auto;
    padding: 0 22px;

    grid-column-gap: 30px;
    grid-row-gap: 39px;
    grid-template-columns: 263px 263px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0 28px;

    font-size: 18px;

    grid-row-gap: 45px;
    grid-template-columns: 1fr;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__item-number {
  display: flex;
  width: max-content;
  margin: 0 auto 17px;

  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: $color-turquoise;
  letter-spacing: -1.27px;

  @media (max-width: $tablet-width) {
    margin: 0 auto 19px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto 10px;
  }
}

.about__item-description {
  margin: 0;
}
