.about {
  max-width: 1135px;
  margin: 0 auto;
  padding: 150px 50px 130px;

  @media (max-width: $tablet-width) {
    max-width: 556px;
    padding: 70px 0 70px;
  }

  @media (max-width: $mobile-width) {
    max-width: 320px;
  }
}

.about__title {
  margin: 0 0 102px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $color-special-black;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }
}

.about__list {
  display: grid;
  margin: 0 auto;
  padding: 0;

  list-style: none;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: $color-black;
  letter-spacing: -0.5px;

  counter-reset: number 0;

  grid-column-gap: 38px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: $tablet-width) {
    grid-column-gap: 30px;
    grid-row-gap: 96px;
    grid-template-columns: 263px 263px;
  }

  @media (max-width: $mobile-width) {
    width: 263px;

    font-size: 18px;

    grid-template-columns: 263px;
  }
}

.about__item {
  position: relative;

  counter-increment: number;

  &::before {
    content: counter(number);
    position: absolute;
    top: -38px;
    right: 50%;

    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: $color-turquoise;
    letter-spacing: -1.27273px;

    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-50%);
  }
}
