.about {
  max-width: 1150px;
  margin: 0 auto;
  padding: 149px 0 152px;

  @media (max-width: $tablet-width) {
    max-width: 556px;
    padding: 38px 0 70px;
  }

  @media (max-width: $mobile-width) {
    max-width: 320px;
    padding: 38px 0 82px;
  }
}

.about__title {
  margin: 0 0 50px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $color-special-black;

  @media (max-width: $tablet-width) {
    margin: 0 0 35px;

    font-size: 24px;
  }
}

.about__list {
  display: grid;
  margin: 0 auto;
  padding: 0;

  list-style: none;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: $color-black;
  letter-spacing: -0.5px;

  grid-column-gap: 55px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: $tablet-width) {
    grid-column-gap: 30px;
    grid-row-gap: 39px;
    grid-template-columns: 263px 263px;
  }

  @media (max-width: $mobile-width) {
    width: 263px;

    font-size: 18px;

    grid-row-gap: 45px;
    grid-template-columns: 263px;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  span {
    display: flex;
    width: max-content;
    margin: 0 auto 16px;

    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: $color-turquoise;
    letter-spacing: -1.27px;

    @media (max-width: $tablet-width) {
      margin: 0 auto 19px;
    }

    @media (max-width: $mobile-width) {
      margin: 0 auto 10px;
    }
  }

  &:first-child {
    @media (max-width: $mobile-width) {
      margin: 0 auto -8px;
    }

    span {
      @media (max-width: $mobile-width) {
        margin: 0 auto 19px;
      }
    }
  }
}
