.contacts {
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 96px;

  @media (max-width: $tablet-width) {
    padding: 70px 35px 53px;
  }

  @media (max-width: $mobile-width) {
    padding: 72px 0 51px;
  }
}

.contacts__title {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 29px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $color-special-black;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;

    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.contacts__description {
  width: 555px;
  margin: 0 auto 39px;

  font-size: 17px;
  line-height: 32px;
  text-align: center;
  color: rgba($color-black, 0.7);
  letter-spacing: normal;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0 auto 20px;
    padding: 0 30px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto 16px;
    padding: 0 25px;
  }
}

.contacts__map {
  img {
    max-width: 957px;
    margin: 0 auto;

    @media (max-width: $tablet-width) {
      min-width: 698px;
      max-width: 100%;
    }

    @media (max-width: $mobile-width) {
      min-width: 320px;
    }
  }
}

.contacts__list {
  display: grid;
  justify-content: space-between;
  max-width: 565px;
  margin: 38px auto 0;
  padding: 0;

  list-style: none;

  grid-column-gap: 80px;
  grid-row-gap: 20px;
  grid-template-columns: max-content max-content;

  @media (max-width: $tablet-width) {
    max-width: 603px;
    margin: 18px auto 0;
    padding: 0 22px;
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
    max-width: 304px;

    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.contacts__item {
  max-width: 268px;
  margin: 0;
  padding: 3px 0 0;

  font-size: 16px;
  line-height: 22px;
  color: rgba($color-black, 0.5);
  letter-spacing: normal;

  @media (max-width: $mobile-width) {
    padding: 0;
  }

  &:last-child {
    margin-right: 17px;
  }
}

.contacts__mail {
  display: flex;

  &:hover {
    color: $color-turquoise;
  }

  @media (max-width: $mobile-width) {
    margin: 13px auto 24px;
  }

  svg {
    margin-right: 15px;

    @media (max-width: $mobile-width) {
      margin-top: 2px;
      margin-left: 6px;
    }
  }
}

.contacts__phone {
  display: flex;

  svg {
    margin-right: 15px;
  }

  &:hover {
    color: $color-turquoise;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }
}
