.contacts {
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 96px;

  @media (max-width: $tablet-width) {
    padding: 70px 35px 53px;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 0 51px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $color-special-black;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }
}

.contacts__description {
  width: 555px;
  margin: 0 auto 42px;

  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: $color-black-opacity-70;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0 69px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
  }
}

.contacts__map {
  img {
    max-width: 957px;
    margin: 0 auto 38px;

    @media (max-width: $tablet-width) {
      min-width: 698px;
      max-width: 100%;
    }

    @media (max-width: $mobile-width) {
      min-width: 320px;
    }
  }
}

.contacts__connection {
  display: flex;
  justify-content: space-between;
  max-width: 558px;
  margin: 0 auto;

  svg {
    margin-right: 15px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 0 22px;
  }
}

.contacts__mail {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 22px;
  color: $color-black-opacity-50;

  &:hover {
    color: $color-turquoise;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto 22px;
  }
}

.contacts__phone {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 22px;
  color: $color-black-opacity-50;

  &:hover {
    color: $color-turquoise;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }
}
