.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding-top: 12px;
  width: 873px;

  @media (max-width: $tablet-width) {
    padding: 0;
    width: 100%;
  }
}

.header__logo {
  position: absolute;
  left: 0;
  top: 318px;

  @media (max-width: $tablet-width) {
    left: 21px;
    top: auto;
    bottom: -45px;
  }
}
