.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
  padding: 12px 75px 0;

  @media (max-width: $tablet-width) {
    position: relative;

    width: 100%;
    padding: 0;
  }
}

.header__logo {
  order: 2;
  width: 68px;
  height: 20px;
  margin-top: 256px;
  margin-left: 2px;

  @media (max-width: $tablet-width) {
    position: absolute;
    bottom: -45px;
    left: 21px;
  }
}
