.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 13px;

  @media (max-width: $tablet-width) {
    position: relative;

    width: 100%;
    padding: 0;
  }
}

.header__logo {
  order: 2;
  width: 68px;
  height: 20px;
  margin-top: 254px;
  margin-left: -4px;

  @media (max-width: $tablet-width) {
    position: absolute;
    bottom: -45px;
    left: 22px;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    left: 18px;
  }
}
