.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 13px;

  background-color: $color-black;
  background-image: url("../img/content/background-desktop-@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background-image: url("../img/content/background-desktop-@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    min-width: 768px;
    padding: 0;

    background-color: $color-white;
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    padding: 0;
  }
}
