.main-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 873px;
  margin: auto;
  padding-top: 260px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

.main-block__first-block {
  @media (max-width: $tablet-width) {
    padding: 0 21px;

    background-color: $color-black;
    background-image: url("../img/content/background-tablet-@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/content/background-tablet-@2x.jpg");
    }

    @media (max-width: $mobile-width) {
      padding: 0 16px;

      background-image: url("../img/content/background-mobile-@1x.jpg");

      @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../img/content/background-mobile-@2x.jpg");
      }
    }
  }
}

.main-block__title {
  width: 393px;
  margin: 47px 0 24px;
  padding: 0;

  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $color-white;

  @media (max-width: $tablet-width) {
    min-width: 525px;
    max-width: 100%;
    margin: 134px auto 20px;
    padding: 0 21px;

    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    min-width: 100%;
    margin: 120px auto 20px;
    padding: 0 16px;
  }
}

.main-block__description {
  width: 381px;
  margin: 0;
  margin-bottom: 240px;

  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $color-white;

  opacity: 0.8;

  @media (max-width: $tablet-width) {
    width: 435px;
    margin: 0 auto 80px;
    padding: 0 21px;

    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0 auto 70px;
    padding: 0 16px;
  }
}
