.main-nav {
  display: flex;
  width: 100%;

  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: $color-white;

  opacity: 0.7;

  @media (max-width: $tablet-width) {
    opacity: 1;
  }
}

.main-nav__list {
  display: grid;
  justify-content: start;
  width: 100%;
  margin: 0;
  padding: 0 10px;

  list-style: none;

  border-bottom: 1px solid $color-white-opacity-20;

  grid-column-gap: 117px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, max-content);


  @media (max-width: $tablet-width) {
    top: 0;
    right: 0;
    z-index: 1;

    padding: 0;
    padding-top: 100px;
    padding-bottom: 108px;

    background-color: $color-white;

    grid-template-columns: 100%;
  }
}

.main-nav__list--close {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__item {
  display: flex;
  justify-content: start;

  &:hover {
    color: $color-turquoise;
  }

  @media (max-width: $tablet-width) {
    position: relative;

    padding: 0;

    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $color-grey;

    background-color: $color-background-grey;

    &::after {
      content: "";
      position: absolute;
      top: 40%;
      right: 25px;

      width: 8px;
      height: 12px;

      background-image: url("../../img/svg/arrow.svg");
      background-repeat: no-repeat;
    }
  }
}

.main-nav__list--no-js {
  @media (max-width: $tablet-width) {
    position: relative;
  }
}

.main-nav__link {
  display: flex;
  padding: 9px 9px;

  @media (max-width: $tablet-width) {
    width: 320px;
    padding: 16px;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 15px;
    right: 14px;
    z-index: 2;

    display: flex;
    width: 22px;
    height: 22px;
    padding: 0;

    background-color: transparent;
    background-image: url("../img/svg/close.svg");
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
  }
}

.main-nav__toggle--close {
  position: absolute;
  top: 0;
  right: 0;

  width: 72px;
  height: 50px;
  padding: 10px 21px;

  background-color: $color-turquoise;
  background-image: url("../img/svg/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    display: flex;
  }

  @media (max-width: $mobile-width) {
    width: 50px;
  }
}

.main-nav__toggle--no-js {
  display: none;
}
