.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.nav-no-js {
  @media (max-width: $tablet-width) {
    position: relative;

    width: 100%;
  }
}

.toggle-no-js {
  display: none;
}

.list-close {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.scroll-lock {
  position: fixed;

  overflow: hidden;
}
