@import "variables";
@import "vendor/normalize";
@import "global/container";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "blocks/about";
@import "blocks/body";
@import "blocks/contacts";
@import "blocks/form";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/main-block";
@import "blocks/main-nav";
