// Fonts

$font-family--open-sans: "Open Sans", "Arial", sans-serif;

// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff0000;
$color-background-black: #131314;
$color-special-black: #1f1f1f;
$color-turquoise: #0ad9c6;
$color-grey: #48494d;
$color-background-grey: #f6f6f6;
$color-background-dark-grey: #f6f7f9;
$color-border-grey: #c9ccd4;

// Width

$tablet-width: 1023px;
$mobile-width: 767px;
