// Fonts

$font-family--open-sans: "Open Sans",
"Arial",
sans-serif;

// Colors

$color-white: #ffffff;
$color-white-opacity-20: rgba(255, 255, 255, 0.2);
$color-black: #000000;
$color-black-opacity-70: rgba(0, 0, 0, 0.7);
$color-black-opacity-50: rgba(0, 0, 0, 0.5);
$color-special-black: #1f1f1f;
$color-turquoise: #0ad9c6;
$color-grey: #48494d;
$color-background-grey: #f6f6f6;
$color-background-dark-grey: #f6f7f9;

// Width

$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
