// Fonts

$font-family--open-sans: "Open Sans",
"Arial",
sans-serif;

// Colors

$color-white: #ffffff;
$color-white-opacity-20: rgba(255, 255, 255, 0.2);
$color-black: #000000;
$color-special-black: #1c1c1c;
$color-turquoise: #0ad9c6;
$color-grey: #48494d;
$color-background-grey: #f6f6f6;

// Width

$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
